@use '../helper/' as *;

header {
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0 0 0 10rem;

    @media (width <= 56rem) {
        background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    }
}

.bg-img {
    background-image: url('../img/images/bg-pattern-intro-desktop.svg');
    background-position: 15% 50%;
    border-radius: 0 0 0 10rem;

    @media (width <= 56rem) {
        background-image: url('../img/images/bg-pattern-intro-mobile.svg');
        background-position: 35% 29%;
    }
}

.hero-section {
    justify-content: center;
    text-align: center;
    padding: $space-xl 0 $space-3xl;
    font-family: $overpass;
    gap: $space-m;
    color: $text-white;
    line-height: 1;

    h1 {
        font-size: $step-5;
        font-weight: 600;
        padding: 0 $space-xl;
    }

    p {
        font-size: $step-0;
        padding: 0 $space-3xl;
    }

    .cta-container {
        font-size: $step--2;
        font-family: $ubuntu;
        margin-top: $space-l;

        a {
            color: inherit;
            padding: 1.2rem 2rem;
        }
    }

    .cta-learn {
        margin-left: 1.4rem;
        border-radius: 10rem;
        box-shadow: 0px 0px 0px 1px $text-white;
    }

    .cta-learn:hover {
        background-color: $text-white;
        color: $text-red;
    }
}

header {
    .btn--white:hover {
        background-color: $text-light-red;
        color: $text-white !important;
    }
}
