@use '../helper/' as *;

.nav,
.mobile-nav {
    width: min(80%, 1440px);
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    padding: $space-l 0;
    font-family: $ubuntu;

    a {
        color: $text-white;
    }

    &_wrapper {
        grid-auto-flow: column;
        align-items: center;
        gap: $space-l;
    }

    .menu_wrapper {
        gap: $space-s;
    }

    .dropdown {
        font-size: $step--2;
        align-items: center;
        gap: $space-2xs;

        position: relative;

        a:hover {
            box-shadow: 0 1px $text-white;
        }
    }

    .dropdown-content {
        background-color: $text-white;
        padding: $space-s $space-s;
        padding-right: $space-l;
        border-radius: 0.5rem;
        box-shadow: 0 0 20px 0 #88888887;
        width: 16rem;
        gap: $space-s;

        position: absolute;
        top: 250%;
        left: -25%;

        a {
            color: $text-dark-grey;
        }

        a:hover {
            color: $text-dark;
            font-weight: 500;
        }
    }

    .auth {
        font-size: $step--2;
        gap: $space-2xs;

        a {
            padding: $space-2xs $space-m;
        }
    }
}

.mobile-nav {
    position: relative;

    .menu_wrapper {
        background-color: $text-white;
        box-shadow: 0 10px 20px 0px #88888861;
        border-radius: 6px;
        font-family: $overpass;
        justify-items: center;

        position: absolute;
        top: 100%;
        width: 100%;
        padding: $space-m;

        font-weight: 600;
    }

    a {
        color: $text-blue;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown-wrapper {
        justify-content: center;
        align-items: center;
        gap: $space-3xs;

        a {
            font-size: 1.6rem;
        }
    }

    .dropdown-content-mobile {
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        padding: $space-m $space-2xs;
        gap: $space-xs;

        background-color: #eee;

        a {
            font-size: 1.6rem;
            color: $text-dark-grey;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: $text-grey;
    }

    .auth {
        justify-items: center;
        font-size: 1.6rem;
    }

    .cta-signup {
        color: $text-white !important;
        background: linear-gradient(
            90deg,
            hsl(13, 100%, 72%),
            hsl(353, 100%, 62%)
        );
    }
}

@media (width <= 56rem) {
    .nav {
        display: none !important;
    }

    .mobile-nav {
        display: flex !important;
    }
}
