@use '../helper/' as *;

.nav,
.mobile-nav {
    width: min(80%, 1440px);
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    padding: $space-l 0;
    font-family: $ubuntu;

    a {
        color: $text-white;
    }

    &_wrapper {
        grid-auto-flow: column;
        align-items: center;
        gap: $space-l;
    }

    .menu_wrapper {
        gap: $space-s;
    }

    .dropdown {
        font-size: $step--2;
        align-items: center;
        gap: $space-2xs;

        position: relative;

        a:hover {
            box-shadow: 0 1px $text-white;
        }
    }

    .dropdown-content {
        background-color: $text-white;
        padding: $space-s $space-s;
        padding-right: $space-l;
        border-radius: 0.5rem;
        box-shadow: 0 0 20px 0 #88888887;
        width: 16rem;
        gap: $space-s;

        position: absolute;
        top: 250%;
        left: -25%;

        a {
            color: $text-dark-grey;
        }

        a:hover {
            color: $text-dark;
            font-weight: 500;
        }
    }

    .auth {
        font-size: $step--2;
        gap: $space-2xs;

        a {
            padding: $space-2xs $space-m;
        }
    }
}

@media (width <= 56rem) {
    .nav {
        display: none !important;
    }

    .mobile-nav {
        display: flex !important;
    }
}
