@use '../helper/' as *;

.section3 {
    margin: $space-3xl 0;
    gap: $space-2xs;
    justify-content: center;

    h2,
    h3 {
        color: $text-blue;
    }

    h2 {
        font-family: $overpass;
        font-size: $step-2;
        font-weight: 600;

        justify-self: center;
    }

    h3 {
        font-size: $step-0;
        font-weight: 600;
        line-height: 1;
    }

    .section3-wrapper {
        width: min(80%, 1440px);
        margin-inline: auto;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .description-container {
        gap: $space-2xl;
    }

    .description {
        font-family: $overpass;
        font-size: $step--2;
        font-weight: 300;
        color: $text-dark-grey;

        width: 90%;
        gap: $space-s;

        line-height: 2;
        letter-spacing: 0.8;
    }

    .img3 {
        transform: scale(1.5) translate(-28.5%);
    }
}
