@use '../helper/' as *;

.section1 {
    margin: $space-3xl 0;
    gap: $space-2xs;
    justify-content: center;

    h2,
    h3 {
        color: $text-blue;
    }

    h2 {
        font-family: $overpass;
        font-size: $step-2;
        font-weight: 600;

        justify-self: center;
    }

    h3 {
        font-size: $step-0;
        font-weight: 600;
        line-height: 1;
    }

    .section1-wrapper {
        width: min(80%, 1440px);
        margin-inline: auto;
        align-items: center;
        grid-template-columns: 1fr 1fr;

        padding: $space-l 0 0;

        @media (width <= 56rem) {
            width: min(100%, 1440px);
            grid-template-columns: 1fr;
            justify-items: stretch;

            gap: $space-l;
        }
    }

    .description-container {
        gap: $space-2xl;

        @media (width <= 56rem) {
            h3,
            p {
                text-align: center;
            }

            justify-items: center;
            gap: $space-l;
        }
    }

    .description {
        font-family: $overpass;
        font-size: $step--2;
        font-weight: 300;
        color: $text-dark-grey;

        width: 90%;
        // margin-inline: auto;
        gap: $space-s;

        line-height: 2;
        letter-spacing: 0.8;
    }

    .img1 {
        transform: scale(1.5) translate(28%);

        @media (width <= 56rem) {
            grid-row: 1/2;
            transform: none;
        }
    }
}

@media (width <= 56rem) {
    .img1.img1-desktop {
        display: none;
    }
    .img1.img1-mobile {
        display: block;
    }
}
