$overpass: 'Overpass', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

//* TEXT
$text-red: hsl(356, 100%, 66%);
$text-light-red: hsl(355, 100%, 74%);
$text-blue: hsl(208, 49%, 24%);
$text-white: hsl(0, 0%, 100%);
$text-grey: hsl(240, 2%, 79%);
$text-dark-grey: hsl(207, 13%, 34%);
$text-dark: hsl(240, 10%, 16%);

$font-body: 1.6rem;

//* FONT SIZE & SPACES 16px@333, 24px@1440
$step--4: clamp(0.78rem, calc(0.72rem + 0.31vw), 1rem);
$step--3: clamp(0.94rem, calc(0.85rem + 0.44vw), 1.25rem);
$step--2: clamp(1.13rem, calc(1rem + 0.62vw), 1.56rem);
$step--1: clamp(1.35rem, calc(1.18rem + 0.86vw), 1.95rem);
$step-0: clamp(1.63rem, calc(1.38rem + 1.17vw), 2.44rem);
$step-1: clamp(1.95rem, calc(1.62rem + 1.59vw), 3.05rem);
$step-2: clamp(2.34rem, calc(1.9rem + 2.12vw), 3.81rem);
$step-3: clamp(2.81rem, calc(2.22rem + 2.82vw), 4.76rem);
$step-4: clamp(3.37rem, calc(2.59rem + 3.73vw), 5.95rem);
$step-5: clamp(4.04rem, calc(3.02rem + 4.91vw), 7.44rem);

$space-3xs: clamp(0.44rem, calc(0.38rem + 0.27vw), 0.63rem);
$space-2xs: clamp(0.81rem, calc(0.68rem + 0.63vw), 1.25rem);
$space-xs: clamp(1.25rem, calc(1.08rem + 0.81vw), 1.81rem);
$space-s: clamp(1.63rem, calc(1.38rem + 1.17vw), 2.44rem);
$space-m: clamp(2.44rem, calc(2.06rem + 1.81vw), 3.69rem);
$space-l: clamp(3.25rem, calc(2.76rem + 2.35vw), 4.88rem);
$space-xl: clamp(4.88rem, calc(4.14rem + 3.52vw), 7.31rem);
$space-2xl: clamp(6.5rem, calc(5.52rem + 4.7vw), 9.75rem);
$space-3xl: clamp(9.75rem, calc(8.28rem + 7.05vw), 14.63rem);
